// Header
.banner .navbar-nav li {
  @extend .nav-item;
}

.banner .navbar-nav a {
  @extend .nav-link;
}

.navbar {
  @include shadow-4dp;
}

.banner {
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .brand {
    text-decoration: none;

    img {
      height: 60px;
    }

    span {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid #283593;
      line-height: 2em;
      transform: translate3d(0, 0.3em, 0);
      font-weight: 100;
      color: $brand-primary;
    }

    &:hover {
      span {
        color: $brand-secondary;
      }
    }
  }

  .nav-primary {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      position: relative;
      z-index: 100;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        flex: 0 1 auto;
        position: relative;
        margin: 0;
        padding: 0;

        a {
          line-height: 1em;
          padding: 0.5em;
          margin: 0 0.5em;
          display: inline-block;
          color: $brand-primary;
          font-size: 1.2rem;
          font-weight: 300;
          text-decoration: none;
          position: relative;
          transition: all 0.2s $transition-easing;

          &::after {
            display: block;
            content: "";
            position: absolute;
            border-bottom: 2px solid $brand-primary;
            bottom: 0;
            left: 50%;
            right: 50%;
            transition: all 0.2s $transition-easing;
          }
        }

        ul.sub-menu {
          @include shadow-6dp();

          display: none;
          opacity: 0;
          position: absolute;
          top: 100%;
          right: 0;
          margin: 0 0.5rem;
          padding: 0.25rem 0;
          background: lighten(#000, 98%);
          min-width: 100%;
          max-width: 150%;
          border-radius: 0.25rem;
          transition: all 0.2s $transition-easing;

          li {
            a {
              display: block;
              line-height: 1.1;
              font-size: 1rem;
              margin: 0;
              padding: 0.35em;

              &::after {
                display: none;
              }

              &:hover {
                background: #fff;
              }
            }
          }
        }

        &:hover {
          > a {
            color: $brand-secondary;

            &::after {
              left: 0;
              right: 0;
            }
          }

          > ul.sub-menu {
            display: block;
            opacity: 1;
          }
        }
      }

      &:hover {
        li:not(:hover) {
          opacity: 0.5;
        }
      }
    }
  }
}
