// Header
.banner .navbar-nav li {
  @extend .nav-item;
}

.banner .navbar-nav a {
  @extend .nav-link;
}

.navbar {
  @include shadow-4dp;
}

.banner {
  min-height: 81px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .brand {
    text-decoration: none;
    flex: 0 1 260px;

    @media (min-width: $breakpoint-sm) {
      flex: 0 1 350px;
    }

    @media (min-width: $breakpoint-sm) {
      flex: 0 1 400px;
    }

    img {
      height: 40px;

      @media (max-width: $breakpoint-xs) {
        height: 30px;
      }

      @media (min-width: $breakpoint-sm) {
        height: 60px;
      }
    }

    span {
      display: inline-block;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid #283593;
      line-height: 2em;
      transform: translate3d(0, 0.3em, 0);
      color: $brand-primary;
      font-size: 1rem;
      font-weight: 300;

      @media (max-width: $breakpoint-xs) {
        font-size: 0.9rem;
      }

      @media (min-width: $breakpoint-sm) {
        font-size: 1.3rem;
        font-weight: 200;
      }

      @media (min-width: $breakpoint-md) {
        font-size: 1.5rem;
        font-weight: 100;
      }
    }

    &:hover {
      span {
        color: $brand-secondary;
      }
    }
  } // end .brand

  .search-form {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: block;
    }

    input {
      border-radius: 0.25rem 0 0 0.25rem;
      border-color: lighten(#000, 85%);
      border-right: none;
      z-index: 2;

      &:hover {
        z-index: 2;
        border-color: lighten(#000, 65%);
      }

      &:focus {
        z-index: 2;
        border-right: none;
        border-color: lighten($brand-primary, 25%);
      }
    }

    button {
      border-radius: 0 0.25rem 0.25rem 0;
      border-color: lighten(#000, 85%);
      background-color: lighten(#000, 85%);
      border-left: none;

      &:hover,
      &:focus {
        border-color: $brand-primary;
        background: $brand-primary;
        cursor: pointer;
      }
    }
  }

  .nav-toggle {
    display: block;
    background: none;
    border: none;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  .nav-primary {
    flex: 0 1 100%;

    &.collapse {
      @media (min-width: $breakpoint-md) {
        display: block;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      z-index: 100;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @media (min-width: $breakpoint-md) {
        flex-wrap: nowrap;
      }

      li {
        flex: 0 1 100%;
        position: relative;
        margin: 0;
        padding: 0;

        @media (min-width: $breakpoint-md) {
          flex: 0 1 auto;
        }

        a {
          line-height: 1em;
          padding: 0.5em;
          margin: 0 0.5em;
          display: inline-block;
          color: $brand-primary;
          font-size: 1.2rem;
          font-weight: 300;
          text-decoration: none;
          position: relative;
          transition: all 0.2s $transition-easing;

          &::after {
            display: block;
            content: "";
            position: absolute;
            border-bottom: 2px solid $brand-primary;
            bottom: 0;
            left: 50%;
            right: 50%;
            transition: all 0.2s $transition-easing;
          }
        }

        ul.sub-menu {
          display: block;
          margin-left: 2rem;

          @media (min-width: $breakpoint-md) {
            @include shadow-6dp();

            display: none;
            opacity: 0;
            position: absolute;
            top: 100%;
            right: 0;
            background: lighten(#000, 98%);
            min-width: 100%;
            max-width: 150%;
            border-radius: 0.25rem;
            margin: 0 0.5rem;
            padding: 0.25rem 0;
            transition: all 0.2s $transition-easing;
          }

          li {
            a {
              display: block;
              line-height: 1.1;
              font-size: 1rem;
              margin: 0;
              padding: 0.35em;

              &::after {
                display: none;
              }

              &:hover {
                background: #fff;
              }
            }
          }
        }

        &:hover {
          > a {
            color: $brand-secondary;

            &::after {
              left: 0;
              right: 0;
            }
          }

          > ul.sub-menu {
            display: block;
            opacity: 1;
          }
        }
      }

      &:hover {
        li:not(:hover) {
          opacity: 0.5;
        }
      }
    }
  } // end .nav-primary
}
