.grid-wrapper__main {
  width: 100%;
  margin: 0 auto;
  max-width: 90vw;

  @supports (display: grid) {
    display: grid;
    grid-row-gap: 10px;

    @media (min-width: $breakpoint-md) {
      grid-column-gap: 2vw;
      grid-row-gap: 2vw;
      grid-template-columns: 3fr 1fr;
    }

    > header,
    > footer {
      grid-column: 1 / -1;
    }

    aside {
      padding-left: 1rem;
    }
  }
}

a {
  main &,
  aside & {
    $link-color: #3f51b5;

    color: $link-color;
    text-decoration: none;
    box-shadow: 0 -0.2em 0 rgba($link-color, 0.2) inset;
    transition: all 0.1s $transition-easing;

    &:hover,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
      box-shadow: 0 -1.2em 0 rgba($link-color, 0.1) inset;
    }
  }
}

h1,
h2 {
  font-weight: 300;
  letter-spacing: 0.075em;
}
