body {
  font-size: calc(16px + 0.25vw);
  line-height: calc(1.2em + 0.5vw);

  @media (min-width: $breakpoint-lg) {
    font-weight: 300;
  }
}

main {
  img {
    max-width: 100%;
    height: auto;
  }
}

.grid-wrapper__main {
  width: 100%;
  margin: 0 auto;
  max-width: 90vw;

  > main {
    @media (min-width: $breakpoint-md) {
      float: left;
      width: 70%;
      margin-right: 5%;

      @supports (display: grid) {
        float: none;
        width: auto;
      }
    }

    .template-full & {
      width: auto;
      float: none;
      margin-right: 0;

      @supports (display: grid) {
        grid-column: 1/-1;
      }
    }
  }

  > aside {
    @media (min-width: $breakpoint-md) {
      float: right;
      width: 25%;

      @supports (display: grid) {
        float: none;
        width: auto;
      }
    }

    .template-full & {
      width: auto;
      float: none;

      @supports (display: grid) {
        grid-column: 1/-1;
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-row-gap: 10px;

    @media (min-width: $breakpoint-md) {
      grid-column-gap: 2vw;
      grid-row-gap: 2vw;
      grid-template-columns: 3fr 1fr;
    }

    > header,
    > footer {
      grid-column: 1 / -1;
    }

    aside {
      padding-left: 1rem;
    }
  } // @supports display:grid

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  main &,
  aside & {
    $link-color: #3f51b5;

    color: $link-color;
    text-decoration: none;
    box-shadow: 0 -0.2em 0 rgba($link-color, 0.2) inset;
    transition: all 0.1s $transition-easing;

    &:hover,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
      box-shadow: 0 -1.2em 0 rgba($link-color, 0.1) inset;
    }
  }
}

h1,
h2 {
  font-weight: 300;
  letter-spacing: 0.075em;
}

h1,
h3, {
  color: lighten($brand-primary, 10%);
}

h2 {
  color: darken($brand-secondary, 10%);
}

h4 {
  color: darken(#8d7167, 10%);
}
